@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-popover: var(--popover);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-outline: var(--outline);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-accent: var(--foreground-accent);
  --color-foreground-destructive: var(--foreground-destructive);
  --color-foreground-success: var(--foreground-success);

  --text-xs: 0.75rem;
  --text-sm: 1rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 3rem;

  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;

  --spacing-screen-minus-navbar: calc(100vh - 74px);
  --spacing-screen-minus-navbar-mobile: calc(100vh - 64px);

  --font-sans: var(--font-nacelle);
  --font-lastik: var(--font-lastik);
}

:root {
  --background: hsl(0 0% 2%);
  --popover: hsl(0 0% 8%);
  --accent: hsl(20 100% 60%);
  --destructive: hsl(0 100% 35%);

  --foreground: hsl(0 0% 90%);
  --foreground-secondary: hsl(0 0% 70%);
  --foreground-accent: hsl(0 0% 7%);
  --foreground-destructive: hsl(0 91% 68%);
  --foreground-success: hsl(110 90% 68%);

  --outline: hsl(0 0% 15%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nacelle", Arial, sans-serif;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid currentColor;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a,
button {
  cursor: pointer;
}
