@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-popover: var(--popover);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-outline: var(--outline);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-accent: var(--foreground-accent);

  --text-xs: 0.75rem;
  --text-sm: 1rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 3rem;

  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;

  --spacing-screen-minus-navbar: calc(100vh - 74px);

  --font-sans: var(--font-dm-sans);
}

:root {
  --background: hsl(0 0% 5%);
  --popover: hsl(0 0% 10%);
  --accent: hsl(20 0% 85%);
  --destructive: hsl(0 100% 35%);

  --foreground: hsl(0 0% 90%);
  --foreground-secondary: hsl(0 0% 70%);
  --foreground-accent: hsl(0 0% 7%);

  --outline: hsl(0 0% 15%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Aria, sans-serif;
}

a,
button {
  cursor: pointer;
}
